.btn {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.btn_cta {
  background-color: var(--accent-color);
}

.btn_ghost {
  border: 2px solid;
  border-color: var(--accent-color);
}

.btn_owner {
  background-color: black;
  border-radius: 0px;
  color: var(--tertiary-bg);
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.btn_nav {
  background-color: var(--secondary-bg);
  border-radius: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
