.btn {
  font-family: "varela", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 150px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  display: inline-block;
}

.btn_nav {
  font-family: "brandon-grotesque", sans-serif;
  background-color: var(--secondary-bg);
  border-radius: 0;
  text-transform: uppercase;
  color: white;
}

.btn_cta {
  background-color: var(--accent-color);
  color: white;
}

.btn_ghost {
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
}

.btn_owner {
  color: white;
  background-color: black;
  border-radius: 0;
}
