#contact_page {
  position: relative;
  padding: 1.25rem;
  margin-bottom: 0.5rem;
}

#contact_page li {
  font-family: "varela", sans-serif;
  font-size: 1.1rem;
  color: var(--main-bg);
}

.contact form {
  width: 100%;
  padding: 1.5rem;
}

@media (min-width: 800px) {
  .contact_bg {
    background-image: url(../dummy_imgs/christina-wocintechchat-com-eF7HN40WbAQ-unsplash.jpg);
    background-size: cover;
    height: 500px;
  }

  #contact_page {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: auto;
    height: 400px;
    width: 500px;
  }

  .contact {
    position: absolute;
    background-color: white;
    padding: 1.5rem;
    width: 600px;
    right: 0;
    top: 0;
    height: 100%;
    border-top: 1px solid var(--sub-color);
    border-bottom: 1px solid var(--sub-color);
  }

  .contact form {
    width: 60%;
    padding: 0;
  }

  .contact label {
    margin-bottom: 1.25rem;
  }
}
