nav {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.logo {
  margin-bottom: 0;
}

.logo img {
  height: 5rem;
}

.desktop_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
}

.desktop_nav li {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin: 0;
  font-size: 1.2rem;
}

.dropdown_trigger {
  cursor: pointer;
}

/* HIDDEN ELEMENTS */
.nav_dropdown {
  display: none;
}

.mobile_nav {
  display: none;
}

/* MOBILE */

@media (max-width: 800px) {
  .desktop_nav {
    display: none;
  }

  .hide {
    display: none;
  }
}
