/*--- PRODUCTS_ORG ---*/
#hero_org {
  position: relative;
  background-image: url(/dummy_imgs/austin-distel-rxpThOwuVgE-unsplash.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
}

@media (min-width: 800px) {
  #kontakt_org {
    background-color: var(--tertiary-bg);
    padding: 5rem;
  }
}

/*--- INDEX ---*/
#hero {
  position: relative;
  background-image: url(/dummy_imgs/COLOURBOX31158476.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
}
