/* INDEX */

#hero {
  position: relative;
  background-image: url(/dummy_imgs/COLOURBOX31158476.jpg);
  background-size: cover;
  height: 500px;
  padding: 1rem;
}

#hero > div {
  position: absolute;
  bottom: 2rem;
}

#companies ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

#companies ul li {
  font-size: 2rem;
}

#principles {
  background-color: var(--tertiary-bg);
  padding: 2rem 12rem;
}

@media (min-width: 800px) {
  /* INDEX */

  #hero > div {
    left: 5rem;
  }

  #hero > div > div {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
  }

  .product_card {
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 5px;
  }

  .product_card h3,
  .product_card p,
  .product_card a {
    color: white;
  }

  .card_pink {
    background-color: var(--accent-color);
    box-shadow: 10px 5px 1px var(--secondary-bg);
  }

  .card_blue {
    background-color: var(--main-bg);
    box-shadow: -10px 5px 1px var(--tertiary-bg);
  }

  /*--- PRODUCTS_ORG ---*/
  #hero_org {
    position: relative;
    background-image: url(/dummy_imgs/austin-distel-rxpThOwuVgE-unsplash.jpg);
    background-size: cover;
    aspect-ratio: 16/9;
  }

  #kontakt_org {
    background-color: var(--tertiary-bg);
    padding: 5rem;
  }
}
